table {
  background-color: blue;
  border-style: double;
  border-width: 2px;
  }
p {
  font-family: Times New Roman;
  color: black;
  text-align: center;
  }
  
body {
  background-color: lightgreen;
  }
  
 .3style{

  }

.4style{

  }

