table {
  background-color: lightblue;
  border-style: double;
  border-width: 2px;
  font-family: Verdana;
  }
p {
  font-family: Times New Roman;
  color: purple;
  text-align: left;
  }
h1 {
  text-align: center;
  }
  
body {
  background-color: neongreen;
  
  }
  


