
table {
  background-color: lightblue;
  border-style: double;
  border-width: 2px;
  font-family: Verdana;
  }
.class1 {
font-style: italic;
color: red;
}
.class2 {
font-style: italic;
color: purple;
}
.class3 {
color: yellow;
font-style: normal;
}
p {
  font-family: Times New Roman;
  color: black;
  text-align: left;
  }
h1 {
  text-align: center;
  }
  
body {
  background-color: green;
  
  }
  
