* {
    box-sizing: border-box;
}
table, th, td {
    border: 1px solid black;
}
th, td {
    padding: 15px;
}
body {
  margin: 0;
}

/* Style the header */
.header {
    background-color: crimson;
    padding: 20px;
    text-align: center;
    font-family: verdana;
    color: purple;
}

/* Style the top navigation bar */
.topnav {
    overflow: hidden;
    background-color: #333;
}

/* Style the topnav links */
.topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Change color on hover */
.topnav a:hover:not(.active) {
    background-color: lightblue;
    color: black;
}

/* indicate active page on nav */
.active {
    background-color: #4CAF50;
}

/* A - Create three unequal columns that floats next to each other */
.column {
    float: left;
    padding: 10px;
}

/* Left and right column */
.column.side {
    width: 30%;
}

/* Middle column */
.column.middle {
    width: 40%;
    border-width: 2px;
}



/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

/* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
@media (max-width: 600px) {
    .column.side, .column.middle {
        width: 100%;
    }
}

/* Style the footer */
.footer {
    background-color: #333;
    padding: 10px;
    text-align: center;
    color: white;
}


.content {
  background-color:	#E6E6FA;
}

.content p {
  font-family:"Ariel", sans-serif;
  color:black;
}

img {
  width:100%;
}
.style1 {
  font-family: Times New Roman;
  text-transform: uppercase;
}
.style2 {
  color:red;
  font-style:italic ;
}
.style3 {
  background-color:yellow;
}














